---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Domina los negocios digitales | Soy Luna</title>

    <!-- Meta etiquetas -->

  <meta name="description" content="Transforma tu negocio con estrategias de marketing comprobadas. Aumenta tu visibilidad, capta clientes y maximiza tus ventas con Soy Luna, divulgadora de marketing estratégico." />
  <meta name="keywords" content="marketing digital, negocios online, ventas, productividad, finanzas, estrategias digitales, mentoría, Soy Luna" />
  <meta name="author" content="Soy Luna" />
  <meta name="robots" content="index, follow" />

 <!-- Open Graph (Facebook, LinkedIn, WhatsApp, etc.) -->
  <meta property="og:title" content="Domina los negocios digitales | Soy Luna" />
  <meta property="og:description" content="Mentorías, guías y estrategias diseñadas para transformar tu negocio, aumentar tus ventas y potenciar tu presencia online." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://jaalzu.github.io/mi-portfolio/" /> <!-- cambia a tu dominio -->
  <meta property="og:image" content="/images/og-img.webp" />

  <meta property="og:locale" content="es_ES" />

    <!-- Google Fonts: Inter -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="min-h-screen flex flex-col bg-bgColor font-sans bg-[url('/images/bgimg.webp')] bg-center bg-cover bg-no-repeat"
  >
    <!-- Header -->
    <header>
      <Navbar />
    </header>

    <!-- Main content -->
    <main class="flex-1">
      <slot />
    </main>
    <!-- Footer -->
    <Footer />
  </body>
</html>

<style>
  /* Reset mínimo */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  
</style>
