---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Brnsoon</title>

      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Inter+Display:wght@400;600;700&display=swap" rel="stylesheet">

  </head>
  <body class="bg-bgColor font-sans">
    <Navbar />
	    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
</style>
