---
---

<section class="flex flex-col items-center gap-8 px-4 md:px-16 py-16">
  <!-- Título principal -->
  <h1 class="text-black font-display text-[45px] md:text-[65px] font-thin">
    SOY LUNA.
  </h1>

  <!-- Contenedor foto + texto -->
  <div class="flex flex-col md:flex-row items-center md:items-start gap-12 max-w-6xl w-full">
    
    <!-- Foto -->
   <img
  src="/images/Mentor.jpg"
  alt="Foto de Azul"
  class="w-full md:w-2/5 rounded shadow-md object-cover"
/>

    <!-- Textos -->
    <div class="flex flex-col gap-4 md:w-1/2">
      <!-- Subtítulo -->
      <h2 class="text-[26px] md:text-[34px] font-normal leading-snug md:leading-10">
  Divulgadora de marketing estratégico para negocios, con <strong class="text-black font-bold">foco en resultados</strong> y <strong class="text-black font-bold">crecimiento real.</strong> Y ahora, si me permites, <strong class="text-black font-bold underline decoration-primary">tu nueva mentora.</strong>
</h2>


      <!-- Párrafo descriptivo -->
      <p class="text-[16px] md:text-[18px] font-light mt-3">
      Hoy más que nunca, <strong class="text-black font-bold ">se necesitan líderes como tú</strong>: que combinan <strong class="text-black font-bold ">creatividad con estrategia </strong>y <strong class="text-black font-bold ">datos con visión.</strong>
      </p>

      <!-- Frase motivacional -->
     <p class="text-center text-transparent bg-clip-text bg-gradient-to-r from-[#3b82f6] to-[#1e40af] text-[18px] md:text-[22px] font-semibold italic mt-5 mb-4">
  No solo descubrirás el “qué” funciona,
  También aprenderás el “cómo” aplicarlo para hacer crecer tu negocio.
</p>



      <!-- Texto secundario -->
      <p class="text-[16px] md:text-[18px] leading-relaxed">
        Hasta ahora, mis estrategias han <strong class="text-black font-bold underline decoration-primary">generado más de 500,000 interacciones mensuales </strong>y ayudado a decenas de negocios a <strong class="text-black font-bold underline decoration-primary">aumentar sus ventas de manera consistente.</strong>
      </p>

      <!-- Botón -->
      <button
  class="flex items-center justify-center bg-blue-600 text-white rounded-3xl px-6 py-4 text-lg md:text-xl mt-5">
        Comenzar hoy
      </button>
    </div>
  </div>
</section>
