

<header class="flex flex-col items-center justify-center text-center px-4 py-12 ">
  <!-- Gradiente arriba -->
  <div class="bg-gradient-to-r from-[#d5f1fb] to-[#d9f9ee] inline-block px-6 py-1.5 rounded-3xl text-sm font-medium mb-5 shadow-md">
    Domina los negocios digitales
  </div>

  <!-- H1 principal -->
<h1 class="text-black text-[32px] md:text-[48px] font-semibold leading-[1.15] tracking-[-0.03em] text-center max-w-[900px] mx-auto mb-5 ">
      Transforma tu negocio con estrategias dise침adas para aumentar tu visibilidad y ventas.
</h1>



  <!-- Descripci칩n -->
 <p class=" text-grey text-[16px] md:text-[20px] font-light leading-[1.3] tracking-[-0.02em] text-center xl:max-w-2xl mx-auto mb-6">
  Descubre c칩mo <strong class="text-black font-medium">optimizar tu presencia online</strong>, <strong class="text-black font-medium">captar clientes</strong> y <strong class="text-black font-medium">maximizar tus ganancias</strong> con estrategias comprobadas.
  <br>
  Da el paso hoy y lleva <strong class="text-black font-medium">tu negocio al siguiente nivel.</strong>
</p>


  <!-- Bot칩n CTA -->
  <button class="px-9 py-3 bg-blue-600 text-white text-base md:text-lg rounded-3xl hover:bg-blue-700 transition-colors font-semibold mt-5 shadow-lg">
    Comenzar ya
  </button>
</header>



</div>
