---
import "../styles/global.css";


---

<header class="flex flex-col items-center justify-center text-center px-4 py-12 ">
  <!-- Gradiente arriba -->
  <div class="bg-gradient-to-r from-[#d5f1fb] to-[#d9f9ee] inline-block px-6 py-1.5 rounded-3xl text-sm font-medium mb-5 shadow-md">
    Domina los negocios digitales
  </div>

  <!-- H1 principal -->
  <h1
  class="font-display text-black text-[30px] md:text-[50px] leading-tight md:leading-[1.2] tracking-medium md:tracking-normal font-bold max-w-3xl mx-auto text-center mb-6">
  Transforma tu negocio con estrategias dise침adas para aumentar tu visibilidad y ventas.
</h1>


  <!-- Descripci칩n -->
  <p class="font-sans text-grey text-[14px] md:text-[20px]  md:leading-loose tracking-wide md:tracking-wider max-w-xl font-light mb-6 ">
    Descubre c칩mo <strong class="text-black font-bold">optimizar tu presencia online</strong> , <strong class="text-black font-bold">captar clientes</strong> y<strong class="text-black font-bold"> maximizar tus ganancias</strong>  con estrategias comprobadas.
      <br>
      Da el paso hoy y lleva <strong class="text-black font-bold">tu negocio al siguiente nivel. </strong>
  </p>

  <!-- Bot칩n CTA -->
  <button class="px-9 py-3 bg-blue-600 text-white text-base md:text-lg rounded-3xl hover:bg-blue-700 transition-colors font-semibold mt-5 shadow-lg">
    Comenzar ya
  </button>
</header>



</div>
