---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
import Saludo from "../components/Saludo.jsx";


---

<div id="container">
	    <!-- <Saludo name="Noname" client:load /> -->
	<h1 class="text-brand-light bg-brand-dark text-3xl p-4">
  Hello world!
</h1>

</div>
