---
import "../styles/global.css";


---

<header class="flex flex-col items-center justify-center text-center px-4 py-12 space-y-4">
  <!-- Gradiente arriba -->
  <div class="bg-gradient-to-r from-[#d5f1fb] to-[#d9f9ee] inline-block px-6 py-1.5 rounded-3xl text-sm font-medium">
    Domina los negocios digitales
  </div>

  <!-- H1 principal -->
  <h1
  class="text-[30px] md:text-[50px] leading-tight md:leading-[1.2] tracking-tight md:tracking-normal font-bold max-w-3xl mx-auto text-center"
>
  Transforma tu negocio con estrategias diseñadas para aumentar tu visibilidad y ventas.
</h1>


  <!-- Descripción -->
  <p class="text-[16px] md:text-[20px]  md:leading-loose tracking-wide md:tracking-wider max-w-xl font-light">
    Aprende estrategias digitales efectivas, herramientas y secretos para crecer tu negocio desde cero.
  </p>

  <!-- Botón CTA -->
  <button class="px-9 py-3 bg-blue-600 text-white text-base md:text-lg rounded-3xl hover:bg-blue-700 transition-colors font-semibold">
    Comenzar ya
  </button>
</header>



</div>
