---
---

<section class="w-full bg-[#0159e1] py-10 px-7 md:px-16">
  <div class="max-w-5xl mx-auto flex flex-col md:flex-row md:items-start md:gap-6">
    
    <!-- Columna izquierda -->
    <div class=" md:flex md:w-2/5 flex-col gap-5 mb-1 text-white">
  <h2 class="text-[42px] md:text-[58px] text-center md:text-start font-bold">Bestselling <br> BOOKS</h2>
<p class="hidden md:block text-[16px] md:text-[18px] leading-relaxed">
    Estos libros fueron creados con la idea de acompañarte en tu proceso de aprendizaje.<br />
    Incluyen explicaciones claras, ejemplos prácticos y consejos que me hubiese encantado
    tener cuando empecé.<br />
    Ideales si querés mejorar tus habilidades de programación, crear proyectos más
    profesionales y avanzar de manera constante.
  </p>
</div>


    <!-- Columna derecha -->
    <div class="md:w-3/5 flex flex-col gap-10 mt-8 md:mt-0 md:ml-auto">

      <!-- Libro 1 -->
      <div class="flex flex-col md:flex-row items-center md:items-start gap-4">
        <img src="/images/books.png" alt="Portada Libro 1" alt="Portada Libro 1"
          class="w-[240px] md:w-40 md:h-36 object-cover shadow-lg" />
        <div class="flex flex-col gap-1 text-center">
          <h3 class="text-[21px] md:text-[25px] font-bold text-white mb-2">
            Guía de React para Principiantes
          </h3>
          <p class="text-[16px] md:text-[18px] text-white/90 leading-snug mb-3">
            Aprende desde los fundamentos hasta hooks modernos de manera simple y con proyectos prácticos.
          </p>
          <button
            class="mt-1 bg-[#00ffe0] text-black text-[20px] rounded-sm px-3.5 py-3 tracking-tight hover:bg-gradient-to-r hover:from-[#d5f1fb] hover:to-[#d9f9ee]  transition-all duration-300">
            Comprar
          </button>
        </div>
      </div>

      <!-- Libro 2 -->
      <div class="flex flex-col md:flex-row items-center md:items-start gap-4">
        <img src="/images/books.png" alt="Portada Libro 1" alt="Portada Libro 2"
          class="w-[240px] md:w-40 md:h-36 object-cover  shadow-lg" />
        <div class="flex flex-col gap-1 text-center" >
          <h3 class="text-[21px] md:text-[25px] font-bold text-white mb-2">
            Diseño Web Moderno
          </h3>
          <p class="text-[16px] md:text-[18px] text-white/90 leading-snug mb-3">
            Principios de UI/UX, patrones de diseño y tips para crear interfaces limpias y atractivas.
          </p>
         <button
            class="mt-1 bg-[#00ffe0] text-black text-[20px] rounded-sm px-3.5 py-3 tracking-tight hover:bg-gradient-to-r hover:from-[#d5f1fb] hover:to-[#d9f9ee]  transition-all duration-300">
            Comprar
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
