<nav class="w-full  " data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between py-6 px-3">
    <!-- Logo -->
    <a href="#" class="text-xl font-bold text-slate-800">Luna Pepon</a>

    <!-- Botón hamburguesa móvil -->
    <button id="menu-btn" class="lg:hidden text-slate-800 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
              d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>

    <!-- Links + CTA -->
    <div id="menu" class="hidden lg:flex items-center space-x-6">
      <button class="px-3 py-2 text-sm bg-blue-600 text-white rounded-3xl hover:bg-blue-700 transition-colors">
              Conseguir ebook
      </button>
    </div>
  </div>

  <!-- Menú móvil -->
  <div id="mobile-menu" class="lg:hidden hidden px-4 pb-4">
    <button class="w-full mt-2 px-4 py-2 bg-blue-600 text-white  rounded hover:bg-blue-700">
      Conseguir ebook
    </button>
  </div>
</nav>




<script>
  const btn = document.getElementById('menu-btn');
  const menu = document.getElementById('mobile-menu');

  btn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>
